@import "assets/scss/mixins.scss";
@import "assets/scss/variables.scss";
@import "assets/scss/extends.scss";

.header {
  height: 15vh;
  @extend %view;

  @include setFlex(row, space-between, center, null, null);

  color: $pure-white;
  font-family: $font-family;
  font-size: 25px;
  font-weight: 700;

  .nofi {
    position: relative;
  }

  &-left {
    @include setFlex(row, null, center, 60px, null);
    
    span {
      min-width: 105px;
    }
  }

  svg {
    cursor: pointer;
  }
  
  .hide {
    display: none;
  }
}
