@import "assets/scss/mixins.scss";
@import "assets/scss/variables.scss";

.header {
  @include setWidthHeight(100%, 15vh);

  @include setFlex(row, space-between, center, null, null);

  color: $pure-white;
  font-family: $font-family;
  font-size: 25px;
  font-weight: 700;

  &-left {
    @include setFlex(row, null, center, 60px, null);
  }

  svg {
    cursor: pointer;
  }
  
  .hide {
    display: none;
  }
}
