@import "assets/scss/mixins.scss";
@import "assets/scss/variables.scss";
@import "assets/scss/extends.scss";

.notification {
  @include setWidthHeight(272px, fit-content);
  max-height: 266px;
  padding: 20px 16px;
  @include setFlex(column, null, null, 20px, null);
  color: $pure-white;
  border-radius: 10px;
  position: absolute;
  right: 0;
  overflow-y: auto;
  font-family: $font-family;
  font-size: 12px;
  background-image: linear-gradient(180deg, #26292e 0%, #16181c 100%);
  z-index: 100;
  &::-webkit-scrollbar {
    display: none;
  }

  
  &-item {
    @include setFlex(row, space-between, center, 20px, null);

    .content{
      .lender {
        color: #27AE60;
      }

      .debtor {
        color: $red-orange;
      }
      @include setFlex(column, null, null, 5px, null)
    }
  }
}
