@import "assets/scss/mixins.scss";
@import "assets/scss/variables.scss";
@import "assets/scss/extends.scss";

.menu-item {
  @include setWidthHeight(197px, 67px);
  @include setFlex(row, start, center, 22px, null);
  padding-left: 26px;
  background-color: $black-medium;
  color: $pure-white;
  
  font-family: $font-family;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-image: $menu-gradient;
  }
}
