@import "assets/scss/mixins.scss";
@import "assets/scss/variables.scss";

@keyframes spinLoader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
$sizes: (
  "medium": 30px,
  "small": 20px,
  "large": 40px,
);

.loader-container {
  width: 100%;
  height: 100%;
  @include setFlex(row, center, center, null, null);
  .loader {
    animation: 1.3s spinLoader linear infinite;

    @each $name, $size in $sizes {
      &.#{$name} {
        width: $size;
        height: $size;
        color: $red-orange;
      }
    }
  }
}
