@import "assets/scss/variables.scss";
@import "assets/scss/mixins.scss";

.empl-history-view {
  width: 100%;
  @include setFlex(column, null, null, 40px, null);
  .search-bar {
    width: 100%;
    @include setFlex(row, null, center, 25px, null);
    @include Responsive(SM) {
      width: 50%;
    }
    &__input {
      width: 90%;
      @include Responsive(SM) {
        width: 80%;
      }
    }
    &__btn {
      width: 58px;
    }
  }

  span {
    color: $pure-white;
  }

  .empl-history-table {
    width: 100%;
    height: 60vh;
    overflow-y: auto;

    .table-body-row {
      cursor: pointer;
    }
  }
}
