$XS: 480px;
$SM: 768px;
$MD: 1024px;
$XL: 1170px;

$red-orange : #EF230C;
$medium-gray: #7C7F87;
$pure-white: #FFFFFF;
$black-medium: #26292E;
$black-dark: #111111; 
$yellow: #FFD351; 

$gray-gradient: linear-gradient(180deg, #26292E 0%, #16181C 100%);
$menu-gradient: linear-gradient(90deg, #EF230C 0%, #FFDC00 100%);
$card-gradient-red: linear-gradient(121.93deg, #111111 21.13%, #EF230C 70.45%);
$card-gradient-blue: linear-gradient(121.93deg, #111111 21.13%, #2C41FF 70.45%);
$card-gradient-yellow:  linear-gradient(121.93deg, #111111 21.13%, #FFA522 70.45%);
$banner-gradient: linear-gradient(90deg, #111111 0%, #EF230C 19.79%, #FFDC00 100%);
 

$font-family: 'Open Sans', sans-serif;

$sizes: 10px, 12px, 25px;
