@import "assets/scss/variables.scss";
@import "assets/scss/mixins.scss";
@import "assets/scss/extends.scss";

.account-view {
  @extend %view;
  @include setFlex(column, null, null, 60px, null);
  color: $pure-white;
  &-row {
    @include setFlex(row, null, center, 100px, null);
    .title {
      min-width: 50px;
    }
  }
  &-btn {
    width: 200px;
  }
}