
.button {
    width: fit-content;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: lightgreen;
    color: white;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}