@import "assets/scss/mixins.scss";
@import "assets/scss/extends.scss";
@import "assets/scss/variables.scss";

.cards-view {
  @extend %view;
  height: 100%;
  @include setFlex(column, null, null, 100px, null);

  .paying-card {
    @include setFlex(column, center, null, 35px, null);
    &__title {
      color: $pure-white;
      font-weight: 700;
      font-size: 15px;
    }
    &__detail {
      margin-left: 55px;
    }
  }

  .saving-card {
    @include setFlex(column, null, null, 35px, null);

    @include Responsive(MD) {
      @include setFlex(row, space-between, null, 35px, null);
    }
    &__container {
      @include setFlex(column, null, null, 35px, null);
      flex: 1;
      & > .title {
        color: $pure-white;
        font-weight: 700;
        font-size: 15px;
      }
      & > .add-btn {
        width: 200px;
        margin-left: 55px;
      }

      .saving-card-list {
        @include setFlex(row, null, center, 20px, null);

        .nav-button {
          cursor: pointer;
          user-select: none;
          transition: 0.2s all linear;
          border-radius: 50%;
          align-items: center;

          &:hover {
            background-color: gray;
            transform: scale(1.2);
            border-radius: 50%;
          }
        }

        &-horizontal {
          @include setFlex(row, null, center, 25px, null);
          overflow-x: hidden;
          width: 230px;
          @include Responsive(MD) {
            width: 230px;
            gap: 25px;
          }
          @include Responsive(XL) {
            width: 550px;
            gap: 40px;
          }
          @include Responsive(XXL) {
            width: 850px;
          }

          height: 250px;
          padding: 0 30px;
          &__detail {
            @include setFlex(column, null, null, 10px, null);
            cursor: pointer;
            transition: all 0.4s linear;
            .group-actions {
              opacity: 0;
              transition: opacity 0.3s linear;
              .action {
                cursor: pointer;
                transition: all 0.4s linear;
                &:hover {
                  transform: scale(1.1);
                }
              }
              &.isActive {
                transform: scale(1.1);
                display: block;
              }
            }
            &:hover {
              transform: scale(1.1);
              .group-actions {
                opacity: 1;
              }
            }
          }
        }
      }

      .saving-card-detail {
        @include setFlex(row, null, null, 30px, null);

        .card-actions {
          @include setFlex(column, null, null, 20px, null);
          .action {
            cursor: pointer;
            transition: all 0.3s linear;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }

      .no-card {
        color: $pure-white;
        font-weight: 400;
        font-size: 14px;
      }
    }

    .list-cards-vertical {
      @include setFlex(column, null, start, 30px, null);
      max-height: 300px;
      overflow-y: auto;
    }
  }
}
