@import "assets/scss/variables.scss";
@import "assets/scss/mixins.scss";
@import "assets/scss/extends.scss";


.form {
  @include setFlex(column, null, center, 30px, null);
  .forgot {
    align-self: flex-end;
    a {
      text-decoration: none;
      color: $pure-white;
      cursor: pointer;
    }
  }
}
