@import "assets/scss/variables.scss";
@import "assets/scss/mixins.scss";
@import "assets/scss/extends.scss";

.login {
  &-page {
    @include setWidthHeight(90%, 100vh);
    margin: 0 auto;
    font-family: $font-family;
    @include setFlex(row, space-between, center, null, null);
  }
  &-logo {
  
    @include setFlex(column, center, null, 28px, null);
    span {
      color: $pure-white;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
    }
  }

  &-form {
    .form {
      @include setFlex(column, null, center, 30px, null);
      .forgot {
        align-self: flex-end;
        a {
          text-decoration: none;
          color: $pure-white;
          cursor: pointer;
        }
      }

      .submit {
        @include setWidthHeight(105%, null);
      }
    }
  }
}
