@import "assets/scss/variables.scss";
@import "assets/scss/mixins.scss";
@import "assets/scss/extends.scss";

.auth {
  &-page {
    @include setWidthHeight(90%, 100vh);
    margin: 0 auto;
    font-family: $font-family;
    @include setFlex(row, center, center, null, null);
    @include Responsive(MD) {
      justify-content: space-between;
    }
  }
  &-logo {
    
    display: none;
    @include Responsive(MD) {
      @include setFlex(column, center, null, 28px, null);
    }
    span {
      color: $pure-white;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
    }
  }
}
