@import "assets/scss/variables.scss";
@import "assets/scss/mixins.scss";
@import "assets/scss/extends.scss";

.auth {
  &-page {
    @include setWidthHeight(90%, 100vh);
    @include setFlex(row, center, center, null, null);
    position: relative;

    margin: 0 auto;
    font-family: $font-family;
    @include Responsive(MD) {
      justify-content: space-between;
    }

    .translate {
      cursor: pointer;
      position: absolute;
      top: 40px;
      right: 0;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &-logo {
    
    display: none;
    @include Responsive(MD) {
      @include setFlex(column, center, null, 28px, null);
    }
    span {
      color: $pure-white;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
    }
  }
}
