@import 'assets/scss/variables.scss';
@import "assets/scss/mixins.scss";
@import "assets/scss/extends.scss";


$font-colors: ("red": $red-orange,"gray": $medium-gray);

.button {

    @extend %button;

    @include setFlex(row, center, center, 24px, null);

    &.ghost {
        background-color: transparent !important;
    }

    &.small {
        @include setWidthHeight(123px, 52px);
    }

    &.normal {
        @include setWidthHeight(162px, 52px);
    }

    @each $name, $font-color in $font-colors {
        &.color-#{$name} {
            color: $font-color;
        }
    }

    transition: all 0.4s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }

}