@import "assets/scss/mixins.scss";
@import "assets/scss/variables.scss";

.small-card {
  @include setWidthHeight(94px, 48px);
  padding: 16px;
  @include setFlex(column, space-between, end, null, null);
  border-radius: 15px;
  
  background-color: $medium-gray;
  color: $pure-white;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;

  cursor: pointer;

  & > .label {
    font-size: 12px;
  }

  &.active {
    background: radial-gradient(circle at -1% 57.5%, rgb(54, 237, 130) 0%, rgb(5, 162, 71) 90%);
  }
}
