@import "assets/scss/mixins.scss";
@import "assets/scss/variables.scss";

.account-info-modal {
  @include setFlex(column, null, null, 30px, null);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  .account-info-row {
    @include setFlex(row, null, center, 50px, null);

    .title {
      width: 100px;
    }
  }
}
