@import "assets/scss/mixins.scss";
@import "assets/scss/variables.scss";

.list-card-item {
  @include setWidthHeight(474px, null);
  @include setFlex(row, null, center, 24px, null);

  & > .hide {
    visibility: hidden;
  }

  & > .value {
    font-family: $font-family;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    margin-left: 20px;
    color: $pure-white;
  }
}
