@import "assets/scss/mixins.scss";
@import "assets/scss/variables.scss";

.list-card-item {
  @include setWidthHeight(fit-content, null);
  @include setFlex(row, null, center, 24px, null);
  
  @include Responsive(MD) {
    width: 350px;
  }
  cursor: pointer;
  & > .hide {
    visibility: hidden;
  }

  & > .value {
    display: none;
    font-family: $font-family;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    margin-left: 20px;
    color: $pure-white;

    @include Responsive(XS) {
      display: inline;
    }
  }
}
