@import "assets/scss/mixins.scss";
@import "assets/scss/variables.scss";
@import "assets/scss/extends.scss";

.table {
  width: 100%;
  height: 100%;
  font-family: $font-family;
  border-collapse: collapse;
  color: $pure-white;
  background-color: $black-dark;
  &-header {
    border-bottom: #000 3px solid;
    background-color: $black-dark;
    position: sticky;
    top: 0;
    z-index: 2;
    &-cell {
      text-align: left;
      padding: 23px 10px;
    }
  }

  &-body {
    &-row {
      td {
        padding: 20px 10px;
        min-width: 50px;
      }
      & > .order {
        width: 5px;
      }
      &.isHover {
        &:hover {
          background-color: $red-orange;
          color: $pure-white;
          cursor: pointer;
        }
      }
      &.isSelected {
        background-color: $red-orange;
        color: $pure-white;
      }
    }
  }
  $unit: "%";
  @for $width from 0 through 100 {
    .col-#{$width} {
      width: $width#{$unit};
    }
  }
  svg {
    transition: all 0.2s linear;
    cursor: pointer;
    &:hover {
      transform: scale(1.3);
    }
  }

  &.small {
    font-size: 12px;
  }
}
