@import "assets/scss/mixins.scss";
@import "assets/scss/variables.scss";
@import "assets/scss/extends.scss";

.side-bar {
  width: fit-content;
  min-width: 223px;
  height: 100vh;
  display: none;
  &.showSideBar {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    z-index: 100;
  }
  background-color: $black-medium;

  @include Responsive(SM) {
    @include setFlex(column, space-between, null, null, null);
  }

  &__top {
    @include setFlex(column, null, null, 44px, null);
    .navigate-btn {
      @include setFlex(row, space-between, center, null, null);
      & > .logo {
        margin-top: 22px;
        margin-left: 24px;
      }
      & > .back-btn {
        margin-top: 25px;
        cursor: pointer;
        transition: all 0.3s linear;
        &:hover {
          transform: scale(1.1);
        }
        @include Responsive(SM) {
          display: none;
        }
      }
    }

    & > .list-item {
      @include setFlex(column, null, null, 18px, null);
    }
  }
}
