@import "assets/scss/variables.scss";
@import "assets/scss/mixins.scss";

.detail-modal {
  @include setFlex(column, null, null, 30px, null);
  font-size: 14px;
  line-height: 18px;
  .detail-row {
    .title {
      width: 80px;
    }

    @include setFlex(row, null, null, 20px, null);

    p {
      margin: 0;
      max-height: 100px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .detail-col {
    p {
      max-height: 100px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .btn-group {
    @include setFlex(row, null, center, 20px, null);
  }
}
